# Lots of junk goes in here.
/caches/
/backups/
/tags

# Top secret stuff!
/link/.ssh/*
!/link/.ssh/config

# Don't commit Vim plugins, vim-plug will install them.
/link/.vim/plugged
/link/.vim/swap/*
!/link/.vim/swap/.gitignore
/link/.vim/backup/*
!/link/.vim/backup/.gitignore
/link/.vim/tags/*
!/link/.vim/tags/.gitignore
/link/.vim/undo/*
!/link/.vim/undo/.gitignore
/link/.vim/viminfo
/link/.vim/.netrwhist
/link/.vim/viminfo.tmp*

# Don't commit tmux ressurect files
/link/.tmux/resurrect/

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*

!reference/**/*

!/copy/.local_aliases.sh
!/copy/.vimrc.local

.DS_Store
