etc/
var/
packages/
auto-save-list/

# Lots of junk goes in here.
/caches/
/backups/

# Top secret stuff!
.ssh/*
!.ssh/config

# Don't commit Vim plugins, vim-plug will install them.

.vim/plugged
.vim/swap/*
!.vim/swap/.gitignore
.vim/backup/*
!.vim/backup/.gitignore
.vim/tags/*
!.vim/tags/.gitignore
.vim/undo/*
!.vim/undo/.gitignore
.vim/viminfo
.vim/.netrwhist
/.vim/viminfo.tmp*

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
!.stow-local-ignore
!/.config/tmux/tmux.conf.local
!/copy/.zshrc.local

!reference/**/*

.DS_Store

# Ignore JetBrains config
.config/jgit/
.config/pudb/

# Ignore lnav config
.config/lnav/**/*
.config/StardewValley
.config/atuin/atuin-receipt.json
.config/github-copilot/versions.json
.config/fish/conf.d
