# Lots of junk goes in here.
/caches/
/backups/
/tags

# Emacs stuff
etc/
var/
elpa/
packages/
auto-save-list/
.emacs.d/network-security.data

# Top secret stuff!
.ssh/*
!.ssh/config

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*

!reference/**/*

!/copy/.zshrc.local

.DS_Store
