[submodule "libs/git-extras"]
	path = libs/git-extras
	url = https://github.com/visionmedia/git-extras.git
[submodule "libs/z"]
	path = libs/z
	url = https://github.com/rupa/z
[submodule "libs/nave"]
	path = libs/nave
	url = https://github.com/isaacs/nave
[submodule "libs/rbenv"]
	path = libs/rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "libs/ruby-build"]
	path = libs/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
