"*":
  "atom-beautify":
    general:
      analytics: false
      beautifyEntireFileOnSave: false
  "atom-material-ui":
    colors:
      abaseColor:
        red: 92
        green: 107
        blue: 192
        alpha: 1
      predefinedColor: "Indigo"
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    disabledPackages: [
      "language-gfm"
    ]
    projectHome: "/Users/dev88/Projects"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Anonymous Pro"
    fontSize: 16
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "4df49cbf-5995-c72b-56b2-7a599a942026"
  "highlight-line": {}
  welcome:
    showOnStartup: false
