<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>KeepAlive</key>
<false/>
<key>Label</key>
<string>local.gmvault</string>
<key>ProgramArguments</key>
<array>
<string>/usr/local/bin/gmvault</string>
<string>sync</string>
<string>-t</string>
<string>quick</string>
<string>-d</string>
<string>~/gmvault-db</string>
<string>xxx@gmail.com</string>
</array>
<key>StartInterval</key>
<integer>900</integer>
<key>RunAtLoad</key>
<true />
<key>StandardErrorPath</key>
<string>~/gmvault-db/backup.log</string>
<key>StandardOutPath</key>
<string>~/gmvault-db/backup.log</string>
</dict>
</plist>
